// Fuentes
$principalFont: 'Poppins', sans-serif;

//Media Queries
$tel: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colours
$blue: #0da6f3;
$dark: #1a1b15;
$white: #FFFFFF;
$grey: #e1e1e1;

$range: 5rem;

// Fonts

$lighter: 300;
$regular : 400;
$bold: 700;
$black: 900